aside.casino
    .casino__container
        h2.casino__title Topp online kasinoer for Norge i 2021
        p.casino__text Sjekk ut vår håndplukkede liste over favoritter for den måneden som har mest sjenerøs uten innskudd, gratisspinn og / eller matchende bonuser:
        ul.casino__list
            li.casino__item
                .casino__item-info
                    .casino__item-image
                        img(src='img/top-casino/casino-image.png' alt='icon')
                    .casino__item-title Bao Casino
                    .casino__item-rating
                        .casino__item-rating-top
                            img(src='img/top-casino/icon1.svg' alt='icon')
                            img(src='img/top-casino/icon2.svg' alt='icon')
                        .casino__item-rating-grade
                            img(src='img/top-casino/star.svg' alt='icon')
                            p 9.25 / 10
                    .casino__item-buttons
                        a(href='#').casino__item-button-white.casino__item-button Anmeldelse
                        a(href='#').casino__item-button-orange.casino__item-button Leke nå
                .casino__item-reviews
                    ul.casino__item-reviews-list.casino__item-reviews-plus
                        li.casino__item-reviews-item Other section Company
                        li.casino__item-reviews-item Biggest Bonus Ever
                        li.casino__item-reviews-item Have an official license
                        li.casino__item-reviews-item Biggest Bonus Ever
                    ul.casino__item-reviews-list.casino__item-reviews-minus
                        li.casino__item-reviews-item Other section Company
                        li.casino__item-reviews-item Biggest Bonus Ever
                        li.casino__item-reviews-item Have an official license
                        li.casino__item-reviews-item Biggest Bonus Ever
                    .casino__item-reviews-showMobile
                        .casino__item-reviews-showMobile-icon
                        .casino__item-reviews-showMobile-text Pros and cons
                .casino__item-bonus
                    .casino__item-bonus-title 100% Up ₹90,000
                    .casino__item-bonus-text Biggest Bonus Ever Registration
                    .casino__item-bonus-buttons
                        a(href='#').casino__item-bonus-button-orange Leke nå
                        a(href='#').casino__item-bonus-link Get bonus
            li.casino__item
                .casino__item-info
                    .casino__item-image
                        img(src='img/top-casino/casino-image.png' alt='icon')
                    .casino__item-title Bao Casino
                    .casino__item-rating
                        .casino__item-rating-top
                            img(src='img/top-casino/icon1.svg' alt='icon')
                            img(src='img/top-casino/icon2.svg' alt='icon')
                        .casino__item-rating-grade
                            img(src='img/top-casino/star.svg' alt='icon')
                            p 9.25 / 10
                    .casino__item-buttons
                        a(href='#').casino__item-button-white.casino__item-button Anmeldelse
                        a(href='#').casino__item-button-orange.casino__item-button Leke nå
                .casino__item-reviews
                    ul.casino__item-reviews-list.casino__item-reviews-plus
                        li.casino__item-reviews-item Other section Company
                        li.casino__item-reviews-item Biggest Bonus Ever
                        li.casino__item-reviews-item Have an official license
                        li.casino__item-reviews-item Biggest Bonus Ever
                    ul.casino__item-reviews-list.casino__item-reviews-minus
                        li.casino__item-reviews-item Other section Company
                        li.casino__item-reviews-item Biggest Bonus Ever
                        li.casino__item-reviews-item Have an official license
                        li.casino__item-reviews-item Biggest Bonus Ever
                    .casino__item-reviews-showMobile
                        .casino__item-reviews-showMobile-icon
                        .casino__item-reviews-showMobile-text Pros and cons
                .casino__item-bonus
                    .casino__item-bonus-title 100% Up ₹90,000
                    .casino__item-bonus-text Biggest Bonus Ever Registration
                    .casino__item-bonus-buttons
                        a(href='#').casino__item-bonus-button-orange Leke nå
                        a(href='#').casino__item-bonus-link Get bonus
            li.casino__item
                .casino__item-info
                    .casino__item-image
                        img(src='img/top-casino/casino-image.png' alt='icon')
                    .casino__item-title Bao Casino
                    .casino__item-rating
                        .casino__item-rating-top
                            img(src='img/top-casino/icon1.svg' alt='icon')
                            img(src='img/top-casino/icon2.svg' alt='icon')
                        .casino__item-rating-grade
                            img(src='img/top-casino/star.svg' alt='icon')
                            p 9.25 / 10
                    .casino__item-buttons
                        a(href='#').casino__item-button-white.casino__item-button Anmeldelse
                        a(href='#').casino__item-button-orange.casino__item-button Leke nå
                .casino__item-reviews
                    ul.casino__item-reviews-list.casino__item-reviews-plus
                        li.casino__item-reviews-item Other section Company
                        li.casino__item-reviews-item Biggest Bonus Ever
                        li.casino__item-reviews-item Have an official license
                        li.casino__item-reviews-item Biggest Bonus Ever
                    ul.casino__item-reviews-list.casino__item-reviews-minus
                        li.casino__item-reviews-item Other section Company
                        li.casino__item-reviews-item Biggest Bonus Ever
                        li.casino__item-reviews-item Have an official license
                        li.casino__item-reviews-item Biggest Bonus Ever
                    .casino__item-reviews-showMobile
                        .casino__item-reviews-showMobile-icon
                        .casino__item-reviews-showMobile-text Pros and cons
                .casino__item-bonus
                    .casino__item-bonus-title 100% Up ₹90,000
                    .casino__item-bonus-text Biggest Bonus Ever Registration
                    .casino__item-bonus-buttons
                        a(href='#').casino__item-bonus-button-orange Leke nå
                        a(href='#').casino__item-bonus-link Get bonus
            li.casino__item
                .casino__item-info
                    .casino__item-image
                        img(src='img/top-casino/casino-image.png' alt='icon')
                    .casino__item-title Bao Casino
                    .casino__item-rating
                        .casino__item-rating-top
                            img(src='img/top-casino/icon1.svg' alt='icon')
                            img(src='img/top-casino/icon2.svg' alt='icon')
                        .casino__item-rating-grade
                            img(src='img/top-casino/star.svg' alt='icon')
                            p 9.25 / 10
                    .casino__item-buttons
                        a(href='#').casino__item-button-white.casino__item-button Anmeldelse
                        a(href='#').casino__item-button-orange.casino__item-button Leke nå
                .casino__item-reviews
                    ul.casino__item-reviews-list.casino__item-reviews-plus
                        li.casino__item-reviews-item Other section Company
                        li.casino__item-reviews-item Biggest Bonus Ever
                        li.casino__item-reviews-item Have an official license
                        li.casino__item-reviews-item Biggest Bonus Ever
                    ul.casino__item-reviews-list.casino__item-reviews-minus
                        li.casino__item-reviews-item Other section Company
                        li.casino__item-reviews-item Biggest Bonus Ever
                        li.casino__item-reviews-item Have an official license
                        li.casino__item-reviews-item Biggest Bonus Ever
                    .casino__item-reviews-showMobile
                        .casino__item-reviews-showMobile-icon
                        .casino__item-reviews-showMobile-text Pros and cons
                .casino__item-bonus
                    .casino__item-bonus-title 100% Up ₹90,000
                    .casino__item-bonus-text Biggest Bonus Ever Registration
                    .casino__item-bonus-buttons
                        a(href='#').casino__item-bonus-button-orange Leke nå
                        a(href='#').casino__item-bonus-link Get bonus
            li.casino__item
                .casino__item-info
                    .casino__item-image
                        img(src='img/top-casino/casino-image.png' alt='icon')
                    .casino__item-title Bao Casino
                    .casino__item-rating
                        .casino__item-rating-top
                            img(src='img/top-casino/icon1.svg' alt='icon')
                            img(src='img/top-casino/icon2.svg' alt='icon')
                        .casino__item-rating-grade
                            img(src='img/top-casino/star.svg' alt='icon')
                            p 9.25 / 10
                    .casino__item-buttons
                        a(href='#').casino__item-button-white.casino__item-button Anmeldelse
                        a(href='#').casino__item-button-orange.casino__item-button Leke nå
                .casino__item-reviews
                    ul.casino__item-reviews-list.casino__item-reviews-plus
                        li.casino__item-reviews-item Other section Company
                        li.casino__item-reviews-item Biggest Bonus Ever
                        li.casino__item-reviews-item Have an official license
                        li.casino__item-reviews-item Biggest Bonus Ever
                    ul.casino__item-reviews-list.casino__item-reviews-minus
                        li.casino__item-reviews-item Other section Company
                        li.casino__item-reviews-item Biggest Bonus Ever
                        li.casino__item-reviews-item Have an official license
                        li.casino__item-reviews-item Biggest Bonus Ever
                    .casino__item-reviews-showMobile
                        .casino__item-reviews-showMobile-icon
                        .casino__item-reviews-showMobile-text Pros and cons
                .casino__item-bonus
                    .casino__item-bonus-title 100% Up ₹90,000
                    .casino__item-bonus-text Biggest Bonus Ever Registration
                    .casino__item-bonus-buttons
                        a(href='#').casino__item-bonus-button-orange Leke nå
                        a(href='#').casino__item-bonus-link Get bonus

        button.casino__link Show More #[span (14)]





